<li id="comment_<%= comment.id %>">
  <div class="side"></div>
  <div class = "comment_body">
    <strong><%= comment.user.name %></strong>
    <span class='date'>     <%= time_ago_in_words(comment.created_at) %> назад </span>
    <span class='right_action' >
      <span id="comment_<%= comment.id %>_count">
        <%= pluralize comment.reputation_for(:votes).to_i, "vote" %>
      </span>
      <%= link_to '', vote_post_comment_path(@post, comment, type: 'up'), method: 'post', remote: true, class:'glyphicon glyphicon-thumbs-up' %>
      <%= link_to '', vote_post_comment_path(@post, comment, type: 'down'), method: 'post', remote: true, class:'glyphicon glyphicon-thumbs-down' %>

      <% if @post.user == current_user || comment.user == current_user%>
          <%= link_to '', [comment.post, comment],
                      method: :delete,
                      remote: true,
                      class: 'glyphicon glyphicon-remove',
                      data: { confirm: 'Are you shure?' } %>
      <% end %> <br>
      <%= link_to "", new_post_comment_path(@post, parent_id: comment), remote: true, class:'glyphicon glyphicon-chevron-down' %>
    </span>
    <p>
      <%= comment.body %>
    </p>
  </div>
</li>