<% @post = post %>
<% @comments = post.comments %>
<tr class="post_<%= post.id %>">
  <td rowspan="2" class='small_logo' >
    <% if post.image? %>
        <%= link_to image_tag(post.image_url(:thumb), alt: "Post logo"), post%>
    <% else %>
        <%=  link_to image_tag('defaultimage_sm.jpg', alt: "Post logo"), post%>
    <% end %>
  </td>
  <td class="broun_row"><strong>Автор:</strong> <%= post.user.name%>
    <span class='right_action' >
              <%= link_to '', post, class: "glyphicon glyphicon-share-alt" %>
      <% if post.user == current_user %>
                  <%= link_to '', edit_post_path(post), class: "glyphicon glyphicon-pencil" %>
          <%= link_to '', post, method: :delete, remote: true,  class: "glyphicon glyphicon-remove", data: { confirm: 'Are you sure?'} %>
              <% end %>
            </span>
  </td>
</tr>
<tr class="yellow_row post_<%= post.id %>">
  <td ><strong>Тема:</strong> <%= post.title %><span class='right_action' ><%= set_date(post) %></span></td>
</tr>
<tr class="active post_<%= post.id %>">
  <td colspan="2"><%= post.content %>
    <span class='right_action' >
      <span class="count_vote_post_<%= post.id %>">
        <span id="post_<%= post.id %>_count"><%= pluralize post.reputation_for(:votes).to_i, "vote" %></span>
        <%= link_to '', vote_post_path(post, type: 'up'),method: 'post', remote: true, class:'glyphicon glyphicon-thumbs-up' %>
        <%= link_to '', vote_post_path(post, type: 'down'),method: 'post', remote: true, class:'glyphicon glyphicon-thumbs-down' %>
      </span>
      <button type='button' class='comments-link glyphicon glyphicon-comment '></button>
      <span class="count_comments_post_<%= post.id %>"><%= post.comments.count %></span>
    </span>
  </td>
</tr>

<tr class="row-comments borders post_<%= post.id %>">
  <td colspan="2">
            <span class='right_action', id="block_id_<%= post.id %>" >

              <%= render 'commentsblock' %>

            </span>
  </td>
</tr>