
<% provide(:title, "Posts") %>
<h1>Posts</h1>


<table class="table">
  <% if @posts.count == 0 %>
      <h2>Posts list are empty.</h2>
  <% else %>
    <% @posts.each do |post| %>
      <tr>
        <td class="info"><strong>Author:</strong> <%= post.user.name%> <span id='time' ><%= set_date(post) %></span></td>
      </tr>
      <tr class="warning">
        <td><strong>Title:</strong> <%= post.title %></td>
      </tr>
      <tr class="active borders">
        <td><%= post.content %>
          <div class="action-btns">
            <%= link_to 'Show', post, class: "btn btn-info" %>
            <% if post.user == current_user %>
            <%= link_to 'Edit', edit_post_path(post), class: "btn btn-warning" %>
            <%= link_to 'Destroy', post, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?'} %>
          </div>
        </td>
        <% end %>
      </tr>
     <% end %>
<% end %>
</table>

<br>

<%= link_to 'New Post', new_post_path, class: "btn btn-success" %>
