
<% provide(:title, "Posts") %>
<h1>Posts</h1>


<table class="table">
  <% if @posts.count == 0 %>
      <h2>Posts list are empty.</h2>
  <% else %>
    <% @posts.each do |post| %>
      <tr>
        <td class="info"><strong>Author:</strong> <%= post.user.name%>
          <span class='right_action' >
            <%= link_to '', post, class: "glyphicon glyphicon-share-alt" %>
            <% if post.user == current_user %>
                <%= link_to '', edit_post_path(post), class: "glyphicon glyphicon-pencil" %>
                <%= link_to '', post, method: :delete, class: "glyphicon glyphicon-remove", data: { confirm: 'Are you sure?'} %>
            <% end %>
          </span>
        </td>
      </tr>
      <tr class="warning">
        <td><strong>Title:</strong> <%= post.title %><span class='right_action' ><%= set_date(post) %></span></td>
      </tr>
      <tr class="active borders">
        <td><%= post.content %></td>
      </tr>
     <% end %>
<% end %>
</table>

<br>
<%= link_to 'New Post', new_post_path, class: "btn btn-success" %>
