<p id="notice"><%= notice %></p>
<% provide(:title, "Post") %>
<h2><%= @post.user.name %> post</h2>
<p class="show" id="show-title">
  <strong>Title:</strong>
  <%= @post.title %>
</p>
<p class="show"  id="show-content">
  <strong>Content:</strong>
  <%= @post.content %>
</p>
<div class = "show_action">
<% if user_signed_in? && @post.user == current_user  %>
  <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-warning" %>
<% end %>
<%= link_to 'Back', posts_path, class: "btn btn-primary" %>
</div>