
<% provide(:title, "Post") %>
<h2><%= @post.user.name %> post</h2>

<p class="show" id="show-title">
  <strong>Title:</strong>
  <%= @post.title %>
  <span class='right_action' > <%= set_date(@post) %> </span>
</p>

<p class="show"  id="show-content">
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<section id="comment-section">
  <ul id="coments">
    <%= render @comments %>
  </ul>
  <%= form_for [@post, @post.comments.new] do|f| %>
    <fieldset>
        <ul>
          <li>
            <%= f.text_area :body, class:'form-control', rows: 2, cols: 60,
                            placeholder: 'Write a comment...' %>
          </li>
          <li class="button_margin_comment">
            <%= f.submit 'Post comment', class: "btn btn-success btn-sm" %>
          </li>
        </ul>
    </fieldset>
  <% end %>
</section>

<div class = "show_action">
<% if user_signed_in? && @post.user == current_user  %>
  <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-warning" %>
<% end %>
<%= link_to 'Back', posts_path, class: "btn btn-primary" %>
</div>