
<% provide(:title, "Post") %>
<h2><%= @post.user.name %> post</h2>
<div class="container container_post">
<% if @post.image? %>
  <%= image_tag @post.image_url , class:'image_logo'%>
<% else %>
  <%= image_tag 'defaultimage.jpg' , class:'image_logo'%>
<% end %>
<span class='right_action votes' > <%= set_date(@post) %><br>
  <span class="count_vote_post_<%= @post.id %>" >
        <span id="post_<%= @post.id %>_count"><%= pluralize @post.reputation_for(:votes).to_i, "vote" %></span>
    <%= link_to '', vote_post_path(@post, type: 'up'),method: 'post', remote: true, class:'glyphicon glyphicon-thumbs-up' %>
    <%= link_to '', vote_post_path(@post, type: 'down'),method: 'post', remote: true, class:'glyphicon glyphicon-thumbs-down' %>
  </span>
</span>
<h3><strong>Title:</strong> <%= @post.title %></h3>
<div class='content'>
  <h4><strong>Content:</strong></h4>
  <p><%= @post.content %></p>
</div>
</div>
<span  id="block_id_<%= @post.id %>">
<%= render 'commentsblock' %>
</span>
<div class = "show_action">
<% if user_signed_in? && @post.user == current_user  %>
  <%= link_to 'Edit', edit_post_path(@post), class: "btn btn-warning" %>
<% end %>
<%= link_to 'Back', posts_path, class: "btn btn-primary" %>
</div>